body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
    padding: 50px;
}

.header{
    display: flexbox;
}

#showAllUsersBtn{
    height: auto;
    width: auto;
}

/* h1{
    margin-top: 50px;
    margin-left: 20px;
} */

#user-details {
    text-align: center;
    margin-bottom: 20px; 
}

#userIdInput {
    padding: 8px;
    margin-right: 10px;
}

#fetchUserBtn , #showAllUsersBtn{
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

#spinner {
    text-align: center;
    margin-top: 20px;
}

.spinner {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 3s linear infinite;
    margin: 0 auto; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#userTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    padding: 20%;
}

#userTable td img {
    width: 50px; 
    height: 50px; 
}

#userTable th{
    border: 1px solid #5c5c5ca2;
    padding: 8px;
    text-align: center;
}

#userTable td {
    border: 1px solid #5c5c5ca2;
    padding: 8px;
    text-align: center;
}

#userTable th {
    background-color: #f2f2f2;
}


